<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings>
    <!--<add key="DalManagerType" value="LearnLanguages.DataAccess.Mock.DalManager,LearnLanguages.DataAccess.Mock" />-->
    <add key="DalManagerType" 
         value="LearnLanguages.DataAccess.Ef.DalManager,LearnLanguages.DataAccess.Ef" 
         xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  </appSettings>
  <connectionStrings xdt:Transform="Replace">
    <!--<add name="LearnLanguagesContext"
         connectionString="metadata=res://*/LearnLanguages.csdl|res://*/LearnLanguages.ssdl|res://*/LearnLanguages.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESK\SQLEXPRESS;initial catalog=LearnLanguagesDb;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;"
         providerName="System.Data.EntityClient"
         />-->
    <add name="LearnLanguagesContext"
         connectionString="metadata=res://*/LearnLanguages.csdl|res://*/LearnLanguages.ssdl|res://*/LearnLanguages.msl;provider=System.Data.SqlClient;provider connection string=&quot;Server=tcp:zr0euhswuf.database.windows.net,1433;Database=LearnLanguagesDb;User ID=kroker@zr0euhswuf;Password=3l3ph4ntSQL%%%%%;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;MultipleActiveResultSets=True;&quot;"
         providerName="System.Data.EntityClient"
         />

  </connectionStrings>

  <!--<configProtectedData xdt:Transform="Insert">
    <providers>
      <add name="CustomProvider" thumbprint="‎bdd2ec36cb6f112e44abce29fac2066b95d4363e"
           type="Pkcs12ProtectedConfigurationProvider.Pkcs12ProtectedConfigurationProvider, PKCS12ProtectedConfigurationProvider, Version=1.0.0.0, Culture=neutral, PublicKeyToken=34da007ac91f901d"/>
    </providers>
  </configProtectedData>-->
  
  <!--<connectionStrings configProtectionProvider="CustomProvider" xdt:Transform="Replace">-->
    <!--<EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
      xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#aes192-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>rsaKey</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>JcfGJJ29NeiSY7CHlTiy6wDSNMvkO7WvEiCOfvi9BpqCfD6zVZeoX0699eDIMwsUaCKPGkvZ5erRycxO5fP0jqMnfYLqKUfzlXEv44H+LP88XSY06+A3vitabbi5iyea7EOUODpbEei6Au43CfmH1rTj8nZ3qAWhAbq1YUaKHShHrEic0F5W/YGBFx/MKjIWUiVD9bgiNMBjTQJtvu0SOqcnnOixL+AiLKhP09yADJcoq917NSjxeDo8EUMCFh/O3uc11lNNOXoFH+/FaOYnzbEnbgJ7Uj9NK6QsrwvVtZ0bB21VigExM19OzYP1xJFAkv2XPWJ9jl9ruMPXX3BiIQ==</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>D0PNu3uqySYYX1Iz0BuTMIHECHwp1yXBe5HsbHucW/23JjCV1OSc3A9Iia01+/FmoKVAJUoyld+8fule2/6srIOd/iaKeWPxTBFCgwRw8ctVS4QJ8Bkrm7JWk13lrvRIVzhI5NLR8X5aOhlgB6pzykaETKzVubOyDDLYMdpzgCCAZWj3zOoq9haUY11c1gJMawKQPhIjALcsHwgCDAC4HmLRoHYmZVS8DqhGPEctcmfainXqtfz8BRG8l3R1OS68VnG4DREy4pENvRy0YsWTIlLNWRRXQuOLh8MU7c0l2XBbP70yDqNp3HudPvqp+gIHBlrWgfAVl5kGTtI1yf+gh+x5zGoBpZlhI3AWdp9fmHNqd4gVrnIvbZoWqfD+x6Gow2xzI3mNURaLQTmFMmo5a4S7r6F6Q6pbDfDB5tTLQ0f9SoavmANi1u/9kr/QwCUWO8pgcAGa1BZAuYRA+XepLPOzuVByKi86orYbocg3UPfR2ijn0OaX1DNmMftPOiH5SSMlvqRY66YT18WpqaatOuwJPtMAJzsl0ptD+lTS+Xy/A0B+GLiaJHX+qOde6XHnrpmvi9qSfVEmJ0cHakdTe2eOkBph4zfo2hbeZSukY/xUmrkn2sVNkAkO8U7TNiopL3FINR5A0uN6Ed2U6gSofgbNe87sSgmbi1o7txaD1zE=</CipherValue>
      </CipherData>
    </EncryptedData>-->
  

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>