<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  
  <appSettings>
    <!--<add key="DalManagerType" value="LearnLanguages.DataAccess.Mock.DalManager,LearnLanguages.DataAccess.Mock" />-->
    <add key="DalManagerType" 
         value="LearnLanguages.DataAccess.Ef.DalManager,LearnLanguages.DataAccess.Ef" 
         xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  </appSettings>
  
  <connectionStrings xdt:Transform="Replace">
    <!--<add name="LearnLanguagesContext"
         connectionString="metadata=res://*/LearnLanguages.csdl|res://*/LearnLanguages.ssdl|res://*/LearnLanguages.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESK\SQLEXPRESS;initial catalog=LearnLanguagesDb;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;"
         providerName="System.Data.EntityClient"
         />-->
    <add name="LearnLanguagesContext"
         connectionString="metadata=res://*/LearnLanguages.csdl|res://*/LearnLanguages.ssdl|res://*/LearnLanguages.msl;provider=System.Data.SqlClient;provider connection string=&quot;Server=tcp:zr0euhswuf.database.windows.net,1433;Database=LearnLanguagesDb;User ID=kroker@zr0euhswuf;Password=3l3ph4ntSQL%%%%%;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;MultipleActiveResultSets=True;&quot;"
         providerName="System.Data.EntityClient"
         />

  </connectionStrings>
  
  <system.web>
    <!--<compilation xdt:Transform="RemoveAttributes(debug)" />-->
  </system.web>

</configuration>