/* Styles for validation helpers
-----------------------------------------------------------*/
.bodyDiv {
    font-family: GungsuhChe;
    background: url(/Content/images/ibgib_minimal_type.png) center center;
    opacity: .4;
    width: 100%;
    height: 100%;
}
